[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"
ipython = "*"
yapf = "*"
autoflake = "*"
coverage = "*"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-filter = "*"
django-rest-swagger = "==2.1.2"
gunicorn = "*"
newrelic = "*"
psycopg2 = "*"
dj-database-url = "*"

[requires]
python_version = "3.7"
